<section class='split-hero'>
    <main class="hero-main">
        <div class='container'>
            <h1>Create an account</h1>
            <p>Geshido is a task manager that gets you organised, then gets out of the way. Currently, Geshido is still under construction. Check back soon!</p>
            
        </div>
        <p>Already have an account? <a href="/login">Log in here</a></p>
    </main>
    <div class='hero-img'></div>
</section>