/* Utility CSS Styles */
%flex-hc-stretch--column {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}
%flex-center-everything--column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

%flex-center-la--row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

%grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
}

%button-reset {
  border: none;
  background: none
}

$soft-shadow: 0  20px 40px rgba(0,0,0,0.10);

button, a {
  cursor: pointer;
  text-decoration: none
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

label {
  display: block;
}

.split-hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}

.hero-img {
  background-image: url("https://images.unsplash.com/photo-1463171515643-952cee54d42a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  background-size: cover;
}

input {
  outline: none;
}

.hero-main {
  @extend %flex-center-everything--column;
  padding: 0 8rem;
  form {
    @extend %flex-hc-stretch--column;
    input {
      width: 100%;
      height: 1.5rem;
      box-shadow: none;
      margin-bottom: 1.5rem;
      border: none;
      font-weight: bold;
      border-bottom: #ECECEC solid 1px;
      padding: 1rem;
      transition: all ease 0.3s
    }
    .grid {
      @extend %grid-col-2;
    }
    input:focus {
      outline: none;
      border-left: black solid 2px;
      box-shadow: $soft-shadow;
    }
    label {
      margin-bottom: 1rem;
    }
    margin: 2rem 0 ;
  }
  .container {
    width: 100%;
    
  }
  p {
    align-self: flex-start
  }
  button {
    padding: 1rem 2.5rem;
    font-size: 1rem;
    border: none;
    border: 1px solid black;
    color: black;
    transition: all ease 0.3s;
    align-self: flex-start;
  }
  button:hover {
    color: white;
    background-color: black
  }
}



.dashboard {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 20% auto;
  form {
    position: relative;
  }
  .task-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.10);
    height: 3rem;
    padding: 1rem 0 1rem 3rem;;
    font-size: 1.5rem;
  }
  .add-btn {
    @extend %button-reset;
    position: absolute;
    height: 100%;
    font-size: 1.5rem;
  }

  main {
    padding: 7rem 15rem;
  }
  .main--shrink {
    padding: 7rem 2rem
  }

  aside {
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    position: relative;

    .border {
      position: absolute;
      right: 0;
      height: 80%;
      border-right: solid 1px black;
      opacity: 0.1;
      top: 50%;
      transform: translateY(-55%);
    }
    a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0.5rem 1.5rem;
        font-size: 1rem;
        color: rgba(0,0,0,0.5)
    }
    .fa-plus {
      justify-self: flex-end;
    }
    .a--current-page {
      background: black;
      color: white;

    }
    i {
        padding-right: 1rem;
    }
  }
}
.dashboard--3col {
  grid-template-columns: 20% 40% auto;
}

.task-item:hover {
  border-left: 2px solid black;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.task-item {
  display: grid;
  grid-template-columns: 10% auto;
  transition: all ease 0.3s;
  cursor: pointer;
  .check-box {
    @extend %flex-center-everything--column
  }
  .details__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 3rem;
    overflow: hidden;
  }
  .check {
    border: 2px black solid;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1000px;
    padding: 0;
    transition: all ease 0.3s;
  }
  .check--completed {
    background-color: black
  }
}

.task-item--completed {
  p, h4 {
    opacity: 0.5;
    text-decoration: line-through;
  }
}

.edit-modal {
  padding: 3rem 0 0 2rem;

  .edit-wrap {
    position: sticky;
    top: 1rem;
    padding: 2rem;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    border-top: 3px solid black;
  }
  input[type=text] {
    border:none
  }
  .divider {
    margin: 1rem 0;
    border-bottom: 1px solid rgba(0,0,0,0.10)
  }
  input::placeholder {
    color: black;
  }
  .task-name {
    font-size: 1.5rem;
    height: 2rem;
    margin: 1.5rem 0;
  }
  .utility-menu {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    .delete-btn {
      @extend %button-reset;
      transition: all ease 0.3s;
      color: rgba(0,0,0,0.5);
      font-size: 1rem;
    }
    .delete-btn:hover {
      color: red;
    }
  }
  .content-wrap {
    @extend %flex-center-la--row
  }
  .content-wrap > * {
    margin-right: 1rem;
    color: rgba(0,0,0,0.5);
  }
  textarea {
    width: 100%;
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all ease 0.3s;
  }
  textarea:active, textarea:focus {
    border: 1px solid rgba(0,0,0,0.1);
  }

}
